# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info/
.venv/
venv/

# Env / secrets
.env
.env.*

# Backend storage
backend_storage/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
test*
requirements-dev.txt